body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  max-width: 550px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the table horizontally */
  background-color: #fff;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 12px); /* Adjusted width with margin for better visual appearance */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the width */
}

button {
  width: 48%;
  margin-right: 2%;
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: #45a049;
}

.accExist {
  font-size: 0.8rem;
  margin-top: 1.4rem;
  color: #636363;
}

.accExist a {
  color: rgb(17, 107, 143);
  text-decoration: none;
}

.createAccount {
  width:48%;
  margin: 0 auto; 
}